{% load i18n %}

<style type="text/css">
  .contenedor_imagen_carousel_sitio {
    height:400px;
    text-align:center;
    background-color: #888;
  };
  .contenedor_imagen_carousel_sitio img{
    width:100%;
  }
</style>

{%with id_carousel="carousel_sitio"%}
<div id="{{id_carousel}}" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#{{id_carousel}}" data-slide-to="0" class="active"></li>
    <li data-target="#{{id_carousel}}" data-slide-to="1"></li>
    {%comment%}
    <li data-target="#{{id_carousel}}" data-slide-to="2"></li>
    {%endcomment%}
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="contenedor_imagen_carousel_sitio"><img src="{{STATIC_URL }}/images/index/sap.jpg" alt=""></div>
      <div class="carousel-caption">
        <h4>{% trans "Consultoría técnica SAP (ABAP)" %} <a class="btn btn-primary" href="/servicios/#consultoria_tecnica_sap">{% trans "Ver más" %} &raquo;</a></h4>
        <p>{% trans "Nos especializamos en todo tipo de desarrollos ABAP. Implementamos todo tipo de interfaces, ampliaciones, workflow, reportes, etc., para distintas soluciones como puede ser ERP, CRM, HCM, Retail." %} </p>
      </div>
    </div>
    <div class="item">
      <div class="contenedor_imagen_carousel_sitio"><img src="{{STATIC_URL }}/images/index/ubuntu_mysql_django.jpg" alt=""></div>
      <div class="carousel-caption">
        <h4>{% trans "Desarrollo de aplicaciones WEB (Linux/MySQL/Django)" %} <a class="btn btn-primary" href="/servicios/#desarrollo_web">{% trans "Ver más" %} &raquo;</a></h4>
        <p>{% trans "Nos destacamos por utilizar herramientas/tecnologías de código abierto. Esto implica libertad. Libertad de uso y de modificación. Somos libres, y así podemos ofrecer libertad a nuestros clientes. Las fronteras son solo la imaginación." %}</p>
        
      </div>
    </div>

    {%comment%}
    <div class="item">
      <div class="contenedor_imagen_carousel_sitio"><img src="{{STATIC_URL }}/iamcast/images/carousel/admin/seleccion_agenciados_perfil.jpg" alt=""></div>
      <div class="carousel-caption">
        <h4>{% trans "IamCast, la solución para su agencia" %} <a class="btn btn-primary" href="/iamcast/">{% trans "Ver más" %} &raquo;</a></h4>
        <p>{% trans "IamCast es una aplicación WEB que tiene como objetivo satisfacer la necesidad de las agencias de casting de tener control sobre: el manejo de la información, los procesos de búsqueda de perfiles, la publicación de la información." %}</p>
      </div>
    </div>
    {%endcomment%}

  </div>
  <a class="left carousel-control" href="#{{id_carousel}}" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#{{id_carousel}}" data-slide="next">&rsaquo;</a>
</div>
{%endwith%}
