{% extends "base.html" %}
{% load i18n %}

{%block extraassets%}
  <style>
    .cabecera{
      background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
      background-image: linear-gradient(45deg, rgb(2, 0, 49) 0%, rgb(109, 51, 83) 100%);
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
      color:white;
    }
    body {
      padding-top: 35px;
    }
  </style>
{%endblock%}

{%block home_active%}active{%endblock%}

{%block cabecera%}
  <div class="hero-unit text-center cabecera">
    <h2>IamSoft, calidad en desarrollo de software</h2>
    <p>Usted tiene una idea, pero no sabe como implementarla... nosotros sabemos, y lo hacemos bien.</p>
  </div>
{%endblock%}

{% block content %}

  <div class='row'>

    <div class="span4">
      <h2>{% trans "Quiénes Somos" %}</h2>
      <p>
        {%blocktrans with url_jsg="http://ar.linkedin.com/pub/sebastian-goldberg/a/48a/589" %}
        IamSoft es una joven empresa fundada por <a target="_blank" href={{url_jsg}}>Juan Sebastián Goldberg</a>, desempeñada en el desarrollo de aplicaciones informáticas.
        {%endblocktrans%}
      </p>
      <p>
        {% trans "Las areas de desempeño de la empresa son:" %}
        <ul>
          <li>{% trans "Consultoría técnica SAP (ABAP)" %}</li>
          <li>{% trans "Desarrollo de aplicaciones WEB (Linux/MySQL/Django)" %}</li>
        </ul>
      </p>
    </div>

    <div class="span4">
      <h2 id="desarrollo_web">{% trans "Desarrollo de aplicaciones WEB (Linux/MySQL/Django)" %}</h2>
      <p>{% trans "El desarrollo de aplicaciones WEB es un area que se encuentra en crecimiento dentro de nuestra empresa." %}</p>
      <p>{% trans "Brindamos consultoría en el desarrollo de aplicaciones web basadas en software libre." %}</p>
      <p>{% trans "Esto nos permite no depender de grandes corporaciones, lo que hace que no tengamos que lidiar con los altos costos, problemas legales y burocracia. Somos libres. Y así podemos ofrecer libertad a nuestros clientes." %}</p>
    </div>

    <div class="span4">
      <h2 id="consultoria_tecnica_sap">{% trans "Consultoría técnica SAP (ABAP)" %}</h2>
      <p>{% trans "Nuestra experiencia en consultoría técnica SAP certificada es amplia." %}</p>
      <p>{% trans "Hemos participado en una amplia cantidad de proyectos, en todos ellos aplicando metodologías de desarrollo que aseguren la alta calidad de los entregables." %}</p>
    </div>

  </div>

{% endblock %}
