{% extends "base.html" %}
{% load i18n %}

{%block home_active%}active{%endblock%}

{% block content %}

  <div class="row">
    
    <div class="span4">
      {% block hero %}
        <div class="hero-unit">
            {% include 'hero.html'%}

            <h2>IamSoft, calidad en desarrollo de software</h2>
            <p>Usted tiene una idea, o una necesidad, pero no sabe como implementarla... nosotros sabemos, y lo hacemos bien.</p>
            {%comment%}
            <p>
              <a href="/iamcast/" class="btn btn-success btn-large">{% trans "Conozca IamCast la solución para agencias de casting" %} &raquo;</a>
            </p>
            {%endcomment%}

        </div>
      {% endblock %}
    </div>

    <div class="span8">
      {%include "carousel.html"%}
    </div>
  </div>

{% endblock %}
