{% load i18n %}

<div id="footer">
  <div class="row pie">

    <div class='offset2 span2 muted'>
      <h4>IamSoft</h4>
      <p class="credit">
        contacto@iamsoft.com.ar<br/>
        +54 9 (11) 5057-3209
      </p>
    </div>

    <div class='offset4 span2'>
      <ul>
        <h4><a href='/servicios/' class='muted credit'>{% trans "Servicios" %}</a></h4>
        <li><a href='/servicios/#consultoria_tecnica_sap' class='muted credit'>{% trans "Consultoria SAP" %}</a></li>
        <li><a href='/servicios/#desarrollo_web' class='muted credit'>{% trans "Desarrollo WEB" %}</a></li>
      </ul>
    </div>

    <div class='offset0 span2'>
      <ul>
        <h4><a href='/iamcast/' class='muted credit'>{% trans "IamCast" %}</a></h4>
        <li><a href='/iamcast/' class='muted credit'>{% trans "Detalles" %}</a></li>
        <li><a href='/iamcast/tarifas/' class='muted credit'>{% trans "Tarifas" %}</a></li>
        <li><a href='/iamcast/probar/' class='muted credit'>{% trans "Probar" %}</a></li>
      </ul>
    </div>

  </div>

</div>
