{% extends "base.html" %}
{% load i18n %}

{%block content%}
<form action="https://www.mercadopago.com/checkout/init" method="post" enctype="application/x-www-form-urlencoded" target="">
  <!-- Autenticación y hash MD5 -->
  <input type="hidden" name="client_id" value="{{pago.client_id}}"/>
  <input type="hidden" name="md5" value="{{pago.md5}}"/>
 
  <!-- Datos obligatorios del item -->
  <input type="hidden" name="item_title" value="{{pago.item_title}}"/>
  <input type="hidden" name="item_quantity" value="{{pago.item_quantity}}"/>
  <input type="hidden" name="item_currency_id" value="{{pago.item_currency_id}}"/>
  <input type="hidden" name="item_unit_price" value="{{pago.item_unit_price}}"/>
  
  <!-- Datos opcionales -->
  <input type="hidden" name="item_id" value="{{pago.item_id}}"/>
  <input type="hidden" name="external_reference" value="{{pago.external_reference}}"/>
  <input type="hidden" name="item_picture_url" value="{{pago.item_picture_url}}"/>
  <input type="hidden" name="payer_name" value="{{pago.payer_name}}"/>
  <input type="hidden" name="payer_surname" value="{{pago.payer_surname}}"/>
  <input type="hidden" name="payer_email" value="{{pago.payer_email}}"/>
  <input type="hidden" name="back_url_success" value="{{pago.back_url_success}}"/>
  <input type="hidden" name="back_url_pending" value="{{pago.back_url_pending}}"/>
 
  <!-- Boton de pago -->
  <button type="submit" class="orange-rn-m-tr" name="MP-Checkout">Pagar</button>
</form>

<!-- Pega este código antes de cerrar la etiqueta </body> -->
<script type="text/javascript">
(function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true; s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js"; var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();} window.$MPBR_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
</script>
{%endblock%}
