{% load i18n %}

<li>{% trans "Aplicación para administración de su agencia." %}</li>
<li>{% trans "Información centralizada." %}</li>
<li>{% trans "Acceso a la aplicación desde cualquier computadora con conexión a internet." %}</li>
<li>{% trans "Conexión encriptada a la aplicación" %}</li>
<li>{% trans "Automatización de tareas frecuentes." %}</li>
<li>{% trans "Registro online de agenciados" %}</li>
<li>{% trans "Backup periódico de su información." %}</li>
<li>{% trans "Integración con página web existente." %}</li>
<li>{% trans "Soporte." %}</li>
