{% extends "correo/base.html" %}
{% load i18n %}

{%block mensaje%}

<p>
  {%blocktrans with nombre_usuario=agencia.user.first_name%}
  Felicitaciones {{nombre_usuario}}!
  {%endblocktrans%}
</p>
<p>
  {%blocktrans with nombre_agencia=agencia.nombre%}
  Su agencia {{nombre_agencia}}, ya esta creada y lista para ser usada.
  {%endblocktrans%}
</p>
<p>
  {%blocktrans %}
  Tenga en cuenta que la alteración de valores en nuestros servidores DNS para que surtan efecto puede demorar un tiempo considerable (en general demora alrededor de media hora).
  {%endblocktrans%}
</p>
<p>
  {% trans "En tu cuenta IamSoft podrás encontrar todo lo necesario para administrar tus agencias. Por cada agencia tendrás: acceso a administración, acceso a la página estándar, acceso al tutorial, realización de pagos, visualización del historial de pagos." %} <a href="{{ambiente.get_base_url}}/cuenta/usuario/">{% trans "Accede a tu cuenta IamSoft" %}</a>
</p>
<p>
  {% trans "En caso que sea tu primera agencia, te recomendamos que comiences leyendo el tutorial que hemos preparado para ti. En este tutorial te guiamos en los primeros pasos que debes realizar para realizar una correcta administración de tu agencia." %} <a href="{{ambiente.get_base_url}}/iamcast/tutorial/{{agencia.id}}">{% trans "Accede al tutorial de" %} '{{agencia.nombre}}'</a>
</p>
<p>
  {%blocktrans with nombre_super_usuario=agencia.user.username clave_super_usuario=password%}
  Para acceder a la administración de tu agencia tienes creado el usuario <strong>{{nombre_super_usuario}}</strong> con la clave <strong>{{clave_super_usuario}}</strong> (puedes cambiar la clave una vez que hayas accedido a la administración de tu agencia).
  {%endblocktrans%}
</p>
<p>
  {% trans "Puedes acceder a la administración de tu agencia usando el siguiente link: " %} <a href="{{agencia.url_admin_agencia}}">{{agencia.url_admin_agencia}}</a>
</p>
<p>
  {% trans "Para acceder al sitio estándar de tu agencia tienes el siguiente link: " %} <a href="{{agencia.url_sitio_agencia}}">{{agencia.url_sitio_agencia}}</a>
</p>
<p>
  {% trans "Esperamos que puedas sacar el mayor provecho utilizando iamcast como la solución para administrar la información de tu agencia, y te agradecemos por habernos elegido " %}
</p>

{%endblock%}

